.form { }
/* 表单项 */
.fm_group { padding: .4rem 0; border-bottom: 1px #eee solid; }
/* 项名称 */
.fm_name { font-size: .7rem; line-height: 1.4rem; color: #111; }
/* 输入框 */
.fm_text { width: 11rem; }
.fm_text input[type="text"] { border: none; padding: .1rem 3%; width: 94%; direction: rtl; font-size: .75rem; color: #111;  height: 1.2rem; line-height: 1.2rem; }
/* 多行文本 */
.fm_textarea { }
.fm_textarea textarea { border: none; padding: .1rem 1%; width: 98%; font-size: .75rem; color: #111; min-height: 3.6rem; line-height: 1.2rem; resize: none; }
/* 单选传值 */
.fm_a { /*width: 13rem;*/ text-align: right; }
.fm_a em { font-size: .75rem; color: #111; line-height: 1.4rem; min-height: 1.4rem; width: 12.2rem; display: inline-block; }
.fm_a .iconfont { line-height: 1.4rem; padding-left: .2rem; color: #999; }
.fm_a input[type="text"] { border: none; padding: .1rem 3%; width: 54%; direction: rtl; font-size: .75rem; color: #111;  height: 1.2rem; line-height: 1.2rem; }


