.popup { position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 100; }
.popup_mask { width: 100%; height: 100%; background: #000; opacity: .3; }
.popup_out { position: absolute; bottom: 0; width: 100%; border-radius: .5rem; overflow: hidden; }
.popup_cont { background: #fff; }
.pop_m92 { padding: 0 4%; width: 92%; }
.pop_head { }
.pop_head .cancel { color: #111; font-size: .75rem; }
.pop_head .confirm { color: #00a7ff; font-size: .75rem; }
.pop_h_name { color: #111; font-size: .85rem; padding: 0 1.8rem; text-align: center; }
.pop_body { overflow-y: scroll; background: #fff; max-height:88rem; }






