<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no">
  <title>海关</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <!--<script src="https://img.lancare.cc/themes/simplicity/js/jquery-1.10.2.min.js?v=1.5.6.201712071821"></script>-->
  
  <!--<link href="../css/customs/index.css" rel="stylesheet" >-->

</head>
<body>

<!-- 网页主体代码 -->
<div class="wui_wrapper">

</div>
<!-- end -->
<script>
	var siteUrl = "http://m.lk.cn/";
		var userId = "85";
	// userId = "86";
	// userId = "213770";
</script>

</body>
</html>