<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no">
  <title>海关</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  
  <!--<link href="../css/customs/index.css" rel="stylesheet" >-->
  
</head>
<body>

<!-- 网页主体代码 -->
<div class="wui_wrapper">

</div>

<!-- 操作按钮 -->
<div class="footer" style="display: none" >
  <div class="foot_opt skin1 fr">
    <input id="appointment" type="button" value="立即预约" >
  </div>
  <div class="foot_info"> <span>合计:</span><em>￥</em>0.00</div>
</div>
<!-- end -->
<!--<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>-->
<script>
	siteUrl = "http://m.lk.cn/";
	userId = "85";
	// userId = "86";
	// userId = "213770";
</script>


</body>
</html>